### JULIA INTRO `PART1`🤡🤡

### Variables 
1. A variable, in Julia, is a name associated (or bound) to a value. It's useful when you want to store a value (that you obtained after some math, for example) for later use.
2. Variables are also used with various data types such  as: 
    - Bool
    - Int
    - Float
    - Strings
    - Char

In [1]:
height = 10
base = 20
area = 1/2 * (base * height)
area

100.0

In [2]:
name = "Mike"
password = "123ghs,"
name
password

"123ghs,"

In [3]:
decimal = 2.34

2.34

In [4]:
integer = 234

234

In [5]:
bloolean = true

true

In [6]:
vowel = 'a'
println(vowel)

a

### Checking the data type of a variable🧐

In [7]:
name = "Mario"
typeof(name)

String

In [8]:
age = 22
typeof(age)

Int64

### Checking the system arch

In [9]:
Sys.WORD_SIZE

64

### Mathematical Operations and Elementary Functions
They include :
1. Arithmetic Operators
    - + : Addition
    - - : Subtraction
    - * : Multiplication
    - / : Division
    - \ : Inverse division
    - ^ : Power
    - % : Modulo
    - +x : unary plus
    - -Y : unary minus
    ```julia
        age  = 20 
        age+2
        print(age) #prints out 22
    ```
2. Boolean Operators
    - ! : NOT
    - && : AND
    - || : OR

3. Bitwise Operators
    - ~ : NOT
    - & : AND
    - | : OR
    - (>>) : logical shift right
    - ⊻ : XOR
    - << : arithmetic shift right
    - << : logical/arithmetic shift left
4. Numeric Comparison
    - == : equality
    - != : inequality
    - <  : less than
    - (>) : greater than
    - <= : less than or equal to
    - (>=) : greater than or equal to

In [10]:
age = 20
age + 1

21

In [11]:
age -1

19

In [12]:
age +2

22

In [13]:
current_year = 2022
birth_year = years = current_year - age
print(birth_year)

2002

In [14]:
println(birth_year)

2002

In [15]:
printstyled(birth_year,color=104)

2002

In [16]:
name = "John Doe"
password = "johnnie1234"
if(name=="John Doe" && password=="johnnie1234")
    println("Welcome 😎😎")
else
    println("🔫🔫")
end

Welcome 😎😎

###  Vectorized "dot" operators

In [17]:
array = [1,2,3,4,5].^3
print(array)

[1, 8, 27, 64, 125]

**Julia provides additional functions to test numbers for special values, which can be useful in situations like
hash key comparisons:**

| Function       | Tests if
| ---------      | ---------
| isequal(x, y)  | x and y are identical
| isfinite(x)    | x is a finite number
| isinf(x)       | x is infinite
| isnan(x)       | x is not a numbe

In [18]:
isequal(NaN,"Nan")

false

In [19]:
isequal(10,10)

true

#### Rounding functions

|Function     |Description                      |Return type |
|----------   |-----------------                |------------|
|round(x)     |round x to the nearest integer   |typeof(x)   |
|round(T, x)  |round x to the nearest integer   |T           |
|floor(x)     |round x towards -Inf             |typeof(x)   | 
|floor(T, x)  |round x towards -Inf             |T           |
|ceil(x)      |round x towards +Inf             |typeof(x)   |
|ceil(T, x)   |round x towards +Inf             |T           |
|trunc(x)     |round x towards zero             |typeof(x)   | 
|trunc(T, x)  |round x towards zero             |T           |

#### Strings Basics

In [20]:
str = "Hello Julia😊"

"Hello Julia😊"

In [21]:
quotes = """Some Quoted strings"""

"Some Quoted strings"

In [22]:
#Long lines in strings can be broken up by preceding the newline with a backslash (\):
long_sentence  = "The big bad wolf jumped over \
the lazy sheep"

"The big bad wolf jumped over the lazy sheep"

####  *If you want to extract a character from a string, you index into it*

In [23]:
str[begin]

'H': ASCII/Unicode U+0048 (category Lu: Letter, uppercase)

In [24]:
quotes[4:10]

"e Quote"

In [25]:
long_sentence[end]

'p': ASCII/Unicode U+0070 (category Ll: Letter, lowercase)

In [26]:
substr = SubString(str,1,5)

"Hello"

In [27]:
typeof(substr)

SubString{String}

In [28]:
firstindex(substr)

1

In [29]:
lastindex(long_sentence)

43

In [30]:
length(long_sentence)

43

### Functions
A function is an object that maps tuples of argument values to a return value
```julia
#syntax of defining a function
function name_of_fucntion(parameters):
    # code goes here
end
#calling the function with parameters
name_of_function(parameters)
```

In [31]:
function max(a,b)
    if(a<b)
        return "b is greater"
    else
        return "a is greater"
    end
end
max(200,30)

"a is greater"

In [32]:
# Single line function
sum(x,y) = x+y
sum(25,45)

70

In [33]:
fib(n::Integer) = n<= 2 ? one(n) : fib(n-1) + fib(n-2)
fib(10)

55

`Calculating the hypotenuse of a triangle`<br>
    Z = X<sup>2</sup> + Y<sup>2</sup>

In [34]:
function hypotenuse(x,y)
    x = abs(x)
    y = abs(y)
    if x > y
        r = y/x
        return x*sqrt(1+r*r)
    end
    if y == 0
        return zero(x)
    end
    
    r = x/y
    return y*sqrt(1+r*r)
end
hypotenuse(3,4)

5.0

### Anonymous Functions
- This creates a function taking one argument x and returning the value of the polynomial x^2 + 2x - 1
at that value.
-  The primary use for anonymous functions is passing them to functions which take other functions as arguments.

In [35]:
x -> x^2 + 2x - 1

#1 (generic function with 1 method)

In [36]:
function(x)
    x^2 + 2x - 1
end

#3 (generic function with 1 method)

In [37]:
map(round, [1.35,5.6,9.7])

3-element Vector{Float64}:
  1.0
  6.0
 10.0

In [38]:
map(x -> x^3 + 3x^2 - 4x + 6, [1,5,-2])

3-element Vector{Int64}:
   6
 186
  18

In [39]:
# Anonymaous function accepting multiple arguments
(x,y,z) -> 1/2* (x * y + z)

#7 (generic function with 1 method)

### Tuples
1. A tuple is an immutabele, fixed-length container that can hold any values
2. Are constructed with () and commas, and can be accessed via indexing

In [40]:
emoji = ('💀','🤕','👾','👺')
emoji[2]

'🤕': Unicode U+1F915 (category So: Symbol, other)

###  Destructuring Assignment and Multiple Return Values

In [41]:
(a,b,c) = 1:3

1:3

In [42]:
println(a)
println(b)
println(c)

1
2
3

In [43]:
function multipleReturns(a,b)
    return a+b, a*b
end
multipleReturns(2,3)

(5, 6)

In [44]:
# Destructuring assignment extracts each value into a variable:
x,y = multipleReturns(2,3)
println(x)
println(y)

5
6

In [45]:
# Another common use is for swapping variables:
y,x = x,y
println(x)
println(y)

6
5

In [46]:
numbers = [1,2,3,5]
x,y,z... = numbers
println(x)
println(y)
println(z)

1
2
[3, 5]

In [48]:
function madlibz()
    print("Enter a verb (action): ")
    verb1 = readline()

    print("Enter an adjective (descriptive word): ")
    adj1 = readline()

    print("Enter a noun (person, place or thing): ")
    noun1 = readline()

    print("Enter another noun (person, place, thing): ")
    noun2 = readline()

    print("Enter a catchphrase (smth like 'hands up 🙋🏽‍♂️'): ")
    catchphrase = readline()

    sentence = "mikey $verb1 down the street one night, playing with his $adj1 $noun1. When all of a / 
    sudden, a $noun2 jumped out at him and said $catchphrase"

    print("\n\n", sentence)

end
madlibz()

Enter a verb (action): Enter an adjective (descriptive word): Enter a noun (person, place or thing): Enter another noun (person, place, thing): Enter a catchphrase (smth like 'hands up 🙋🏽‍♂️'):

mikey mikey down the street one night, playing with his qegq ghfvvfb. When all of a /
    sudden, a jjjjvjhfvjQ jumped out at him and said VGJQFVJVQJF